/**
 *
 *  Style tổng
 *
 */

/**
 *      Default elements, classes
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    outline: none !important;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}
ul {
    display: flex;
}
li {
    list-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
textarea {
    width: 100%;
    min-height: 300px;
    ~ .ck-editor .ck-editor__editable.ck-content {
        min-height: 300px;
    }
}
img.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**
 *      Default texts
 */
.bold-txt {
    font-weight: bold !important;
}
.upc-txt {
    text-transform: uppercase !important;
}
/**
 *      Default buttons
 */
.btn-hv {
    border: none;
    cursor: pointer;
}
.btn-hv:hover {
    filter: brightness(125%);
}

/**
 *      Box's background color
 */
.main-bg {
    background-color: #51c5dd;
}
.bside-bg {
    background-color: #af692f;
}
.hl-bg {
    background-color: #f04c63;
}
.lightgray-bg {
    background-color: #f8f6f7;
}
.gray-bg {
    background-color: #f9fafb;
}

/**
 *      Box's background color !IMPORTANT
 */
.main-bg-i {
    background-color: #51c5dd !important;
}
.bside-bg-i {
    background-color: #af692f !important;
}
.hl-bg-i {
    background-color: #f04c63 !important;
}
.lightgray-bg-i {
    background-color: #f8f6f7 !important;
}
.gray-bg-i {
    background-color: #c6c4c4 !important;
}

/**
 *      Box:HOVER's background color
 */
.main-bg-hv:hover {
    background-color: #51c5dd !important;
    transition: all 0.15s;
}
.bside-bg-hv:hover {
    background-color: #af692f !important;
    transition: all 0.15s;
}
.hl-bg-hv:hover {
    background-color: #f04c63 !important;
    transition: all 0.15s;
}
.lightgray-bg-hv:hover {
    background-color: #f8f6f7 !important;
    transition: all 0.15s;
}
.gray-bg-hv:hover {
    background-color: #c6c4c4 !important;
    transition: all 0.15s;
}

/**
 *      Text color
 */
.main-txt {
    color: #51c5dd;
}
.bside-txt {
    color: #af692f;
}
.hl-txt {
    color: #f04c63;
}
.lightgray-txt {
    color: #f8f6f7;
}
.gray-txt {
    color: #c6c4c4;
}

$bside-color: #af692f;

/**
 *      Text color !IMPORTANT
 */
.main-txt-i {
    color: #51c5dd !important;
}
.bside-txt-i {
    color: #af692f !important;
}
.hl-txt-i {
    color: #f04c63 !important;
}
.lightgray-txt-i {
    color: #f8f6f7 !important;
}
.gray-txt-i {
    color: #c6c4c4 !important;
}

/**
 *      Text:HOVER color
 */
.main-hv:hover {
    color: #51c5dd;
    transition: all 0.15s;
}
.bside-hv:hover {
    color: #af692f;
    transition: all 0.15s;
}
.hl-hv:hover {
    color: #f04c63;
    transition: all 0.15s;
}
.lightgray-hv:hover {
    color: #f8f6f7;
    transition: all 0.15s;
}
.gray-hv:hover {
    color: #c6c4c4;
    transition: all 0.15s;
}
